n8n-workflow.json
{
  "name": "Agente WhatsApp — Dr. Bruno Gustavo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f426aee4-d11a-49b7-b2ee-8af9ddc77fda",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extrai dados da mensagem do WhatsApp Cloud API\nconst body = $input.first().json.body || $input.first().json;\n\n// Verifica se é verificação do webhook Meta\nif (body['hub.mode'] === 'subscribe') {\n  return [{ json: { type: 'verification', challenge: body['hub.challenge'] } }];\n}\n\n// Extrai a mensagem\ntry {\n  const entry = body.entry?.[0];\n  const change = entry?.changes?.[0];\n  const value = change?.value;\n  const message = value?.messages?.[0];\n  const contact = value?.contacts?.[0];\n\n  if (!message) {\n    return [{ json: { type: 'no_message' } }];\n  }\n\n  return [{\n    json: {\n      type: 'message',\n      phone: message.from,\n      name: contact?.profile?.name || 'Paciente',\n      messageId: message.id,\n      text: message.text?.body || '',\n      messageType: message.type,\n      timestamp: message.timestamp,\n      phoneNumberId: value.metadata?.phone_number_id,\n    }\n  }];\n} catch(e) {\n  return [{ json: { type: 'error', error: e.message } }];\n}"
      },
      "id": "extract-message",
      "name": "Extrair Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "is-message",
              "leftValue": "={{ $json.type }}",
              "rightValue": "message",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-message",
      "name": "É Mensagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Determina o fluxo baseado na mensagem do paciente\nconst text = ($json.text || '').toLowerCase().trim();\nconst phone = $json.phone;\nconst name = $json.name;\n\nlet fluxo = 'saudacao';\n\n// Detectar intenção\nif (/^(oi|olá|ola|bom dia|boa tarde|boa noite|hello|hi|oi tudo|hey)/.test(text)) {\n  fluxo = 'saudacao';\n} else if (/(cadastr|novo paciente|primeira vez|nunca vim|novo aqui)/.test(text)) {\n  fluxo = 'precadastro';\n} else if (/(agendar|consulta|marcar|horário|disponib|agenda)/.test(text)) {\n  fluxo = 'agendamento';\n} else if (/(exame|resultado|laudo|pdf|enviar exame)/.test(text)) {\n  fluxo = 'exames';\n} else if (/(urgência|emergência|dor forte|mal|socorro)/.test(text)) {\n  fluxo = 'urgencia';\n} else if (/(preço|valor|quanto|custo|convênio|plano)/.test(text)) {\n  fluxo = 'preco';\n} else if (/(programa|acompanhamento|protocolo|30 dias|90 dias)/.test(text)) {\n  fluxo = 'acompanhamento';\n} else {\n  fluxo = 'ia_livre'; // Claude responde livremente\n}\n\nreturn [{ json: { ...$json, fluxo, textOriginal: text } }];"
      },
      "id": "detect-intent",
      "name": "Detectar Intenção",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "is-ia",
              "leftValue": "={{ $json.fluxo }}",
              "rightValue": "ia_livre",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "needs-ai",
      "name": "Precisa de IA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 500, system: 'Você é o assistente virtual do Dr. Bruno Gustavo — Clínico-Geral, Endocrinologista e Nutrólogo em Poços de Caldas-MG. Responda de forma humana, acolhedora e profissional. Mensagens curtas (máx 3 parágrafos). Nunca dê diagnósticos. Para urgências, indique o SAMU (192). Para agendamentos, informe que a secretária entrará em contato.', messages: [{ role: 'user', content: 'Paciente: ' + $json.name + '\\nMensagem: ' + $json.textOriginal }] }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "claude-ai",
      "name": "Claude IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 140]
    },
    {
      "parameters": {
        "jsCode": "// Gera resposta baseada no fluxo detectado\nconst fluxo = $json.fluxo;\nconst name = $json.name?.split(' ')[0] || 'olá';\n\nconst respostas = {\n  saudacao: `Olá, ${name}! 👋\\n\\nSou o assistente virtual do *Dr. Bruno Gustavo* — Clínico-Geral, Endocrinologista e Nutrólogo.\\n\\nComo posso ajudar você hoje?\\n\\n1️⃣ Agendar consulta\\n2️⃣ Pré-cadastro (1ª consulta)\\n3️⃣ Enviar exames\\n4️⃣ Programa de acompanhamento\\n5️⃣ Outras dúvidas`,\n\n  precadastro: `Ótimo, ${name}! Vamos fazer seu pré-cadastro. 📋\\n\\nPreciso de algumas informações. Pode me enviar seu *nome completo*?`,\n\n  agendamento: `Para agendar sua consulta, ${name}, nossa secretária entrará em contato em breve para verificar a disponibilidade. 📅\\n\\nSe preferir, acesse nossa agenda online:\\nhttps://medico-dashboard-teal.vercel.app`,\n\n  exames: `Pode enviar seus exames por aqui, ${name}. 🔬\\n\\nO Dr. Bruno irá analisar e retornaremos com orientações em até *48h úteis*.\\n\\nEnvie o arquivo PDF ou a foto do exame.`,\n\n  urgencia: `${name}, em casos de *emergência* ligue imediatamente:\\n\\n🚑 *SAMU: 192*\\n🏥 UPA mais próxima\\n\\nEste canal é para consultas eletivas. Cuide-se! 💙`,\n\n  preco: `Nossas consultas são *particulares*, ${name}. 💳\\n\\nPara valores e formas de pagamento, nossa secretária pode te passar todas as informações. Deixa que entro em contato!`,\n\n  acompanhamento: `Temos programas de acompanhamento de *30 e 90 dias*, ${name}! 📈\\n\\nSão protocolos personalizados com check-ins regulares, orientações e ajustes de conduta.\\n\\nQuer saber mais sobre qual seria o ideal para você?`,\n};\n\nreturn [{ json: { ...$json, resposta: respostas[fluxo] || respostas.saudacao } }];"
      },
      "id": "generate-response",
      "name": "Gerar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Formata resposta do Claude\nconst claudeResponse = $json.content?.[0]?.text || 'Desculpe, não consegui processar sua mensagem. Tente novamente.';\nconst prevData = $('Detectar Intenção').first().json;\n\nreturn [{ json: { ...prevData, resposta: claudeResponse } }];"
      },
      "id": "format-ai-response",
      "name": "Formatar Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 140]
    },
    {
      "parameters": {
        "jsCode": "// Junta as duas saídas (IA ou script) em um nó\nreturn $input.all().map(item => item);"
      },
      "id": "merge-responses",
      "name": "Unificar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.phoneNumberId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.META_ACCESS_TOKEN }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: $json.resposta, preview_url: false } }) }}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }"
      },
      "id": "webhook-response",
      "name": "Resposta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 220]
    }
  ],
  "connections": {
    "WhatsApp Webhook":    { "main": [[{ "node": "Extrair Mensagem",    "type": "main", "index": 0 }]] },
    "Extrair Mensagem":    { "main": [[{ "node": "É Mensagem?",         "type": "main", "index": 0 }]] },
    "É Mensagem?":         { "main": [[{ "node": "Detectar Intenção",   "type": "main", "index": 0 }], [{ "node": "Resposta Webhook", "type": "main", "index": 0 }]] },
    "Detectar Intenção":   { "main": [[{ "node": "Precisa de IA?",      "type": "main", "index": 0 }]] },
    "Precisa de IA?":      { "main": [[{ "node": "Claude IA",           "type": "main", "index": 0 }], [{ "node": "Gerar Resposta",   "type": "main", "index": 0 }]] },
    "Claude IA":           { "main": [[{ "node": "Formatar Resposta IA","type": "main", "index": 0 }]] },
    "Formatar Resposta IA":{ "main": [[{ "node": "Unificar Resposta",   "type": "main", "index": 0 }]] },
    "Gerar Resposta":      { "main": [[{ "node": "Unificar Resposta",   "type": "main", "index": 0 }]] },
    "Unificar Resposta":   { "main": [[{ "node": "Enviar WhatsApp",     "type": "main", "index": 0 }]] },
    "Enviar WhatsApp":     { "main": [[{ "node": "Resposta Webhook",    "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": []
}
